.box {
  position: relative;
  width: 100%;
  height: 12rem;
  padding: 1rem 2rem;
  border: solid;
  background-color: white;
}

samp {
  background-color: antiquewhite;
}

header,
footer {
  grid-column: 1 / -1;
  background-color: deeppink;
}

main {
  grid-column: 2 / -2;
  /* display: flex; */
  /* flex-direction: column; */
}

p {
  margin-bottom: 1rem;
}

h1 {
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

small,
.text_small {
  font-size: 0.8rem;
}

body {
  min-height: 100vh;

  display: grid;
  grid-template-columns: 1fr min(80ch, 90%) 1fr;
  grid-template-rows: [header-start] 5rem [main-start] 1fr [footer-start] 5rem;

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 2;

  background-color: antiquewhite;
}

html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
}
